:root {
  --font-main: "MacPaw Fixel Display", sans-serif;
}

body {
  min-width: 320px;
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }
}
