:root {
  --font-main: "MacPaw Fixel Display", system-ui, sans-serif;

  --color-primary: #85aa9f;
  --color-primary-hover: #6f988b;

  --color-text-primary: #121417;
  --color-text-secondary: rgba(18, 20, 23, 0.8);
  --color-text-muted: rgba(18, 20, 23, 0.5);

  --color-bg-primary: #f8f8f8;
  --color-bg-secondary: #ffffff;
  --color-border: rgba(18, 20, 23, 0.1);

  --color-error: #d80027;
  --color-success: #3cbf61;

  --radius-sm: 8px;
  --radius-md: 15px;
  --radius-lg: 30px;

  --container-width: 1240px;
}
