.userBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
}

.icon {
  width: 20px;
  height: 20px;
  color: rgba(252, 252, 252, 0.7);
}

.light .userName {
  color: #fff;
}

.light .avatar {
  background-color: #fff;
}

.light .icon {
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .userName {
    font-size: 20px;
  }
}
