.dashboard {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin-bottom: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statistics {
  font-size: 14px;
  font-weight: 500;
  color: rgba(18, 20, 23, 0.5);
}

.statistics span {
  margin-left: 4px;

  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actionBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);

  transition: opacity 250ms ease;
}

.actionBtn:hover,
.actionBtn:focus-visible {
  opacity: 0.7;
}

.icon {
  width: 20px;
  height: 20px;

  color: var(--color-primary);
  stroke: currentColor;
}

@media (min-width: 768px) {
  .info {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .dashboard {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .info {
    min-width: 350px;
    padding-top: 10px;
  }
}
